*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    /* wire framing borders */
    border: 1px solid red;
  
    font-family:'Times New Roman', Times, serif;
}
body {
    background-color:white;
    padding:80px;

}

h1 {
    padding:10px;
}

p {
    padding:10px;
}

header {
    color:black;
    background-color:pink;
    position:fixed;
    top:0px;
    left:0px;
    right:0px;
    padding:5px;
}

footer {
    color:black;
    background-color:pink;
    text-align:center;
    padding: 5px;px;
}

nav {
    text-align: right;

}

ul li {
    display: inline;
    list-style-type: none;
    font-size: 25px;
}

main {
    text-align:center
}